body {
  background-color: rgb(40, 40, 40);
  color: white;
  font-family: Oswald, sans-serif;
  line-height: 1.0;
  letter-spacing: 2px;
  font-weight: light;
  text-justify: center;
  margin: 50px 0px;
}
h1 {
  color: red;
  font-size: 45px;
  font-family: Roboto;, sans-serif;
  margin: 50px 600px;
  text-align: center;
  text-align: justify;
  text-shadow: 3px 3px 30px rgba(255, 255, 255, 1.0);
}
a {
  color: white;
  font-size: 40px;
  margin: 680px;
  padding: 50px;
  line-height: 80px;
  text-shadow: 5px 5px 20px red;
}
a:hover {
  color: red;
  }
p { 
  font-family: Oswald, sans-serif;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 50px;
  box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.5);
  line-height: 50px;
  border: 100px;
  border-radius: 10%;

  

}
h2 {
  color: rgb(255, 0, 0);
  background: black;
  padding: 10px;
  margin: 50px;
  box-shadow: 10px 10px 30px rgba(255, 0, 0, 0.5);
  border-radius: 20%;
  }



.images { 
  margin: 5px 600px;
  border-radius: 50%;
  box-shadow: 5px 5px 30px red;
}
}
.img-margin {
  margin: 500px;
  }

.img-circle {
    border-radius: 50%;
  }
#leader {
   border: 5px solid white;
}
.text {
  text-align: center;
}

h3 {
  margin: 50px 590px;
  padding: 5px;
  }

h4 {
  margin: 50px 710px;
  font-size: 25px;
}
@media (max-width: 500px) {

.container {
  background-color: green;
  width: 400px;
}

}